TESIS_ROOT=/f/Documentos/UNMSM/TESIS
REPO_DIR_OVERRIDE=/f/Documentos/UNMSM/TESIS/HWE-LOH_GSE12906_forense
SQLITE_PATH=/f/Documentos/UNMSM/TESIS/GEOmetadb.sqlite
SOFT_GSE12906=/f/Documentos/UNMSM/TESIS/results/quarantine_maybe/GSE12906_family.soft.gz
PARSED_GSE12906=/f/Documentos/UNMSM/TESIS/results/parsed_tables/GSE12906
HEADER_GSE12906=/f/Documentos/UNMSM/TESIS/results/parsed_tables/GSE12906/header_GSE12906.tsv
MATRIX_GSE12906=/f/Documentos/UNMSM/TESIS/HWE-LOH_assay/data/GSE12906_Genotype_Matrix.csv
COUNTS_GSE12906=/f/Documentos/UNMSM/TESIS/HWE-LOH_assay/data/GSE12906_geno_counts_AA_AB_BB.csv
